@tailwind base;

@layer base {
    :root {
        color-scheme: light;
        --theme-bg: #000;
        --theme-text: #97CE4C;
        --theme-accent: #40b4c4;
        --theme-accent-2: #d7ff68;
    }

    body {
        @apply bg-bgColor min-h-screen text-textColor
    }
}

@tailwind components;
@tailwind utilities;


